<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
</head>
<body>
<h1>Employee Management System</h1>
<h2>Update Employee</h2>
<hr>
<form action="#" th:action="@{/persons/employee/saveEmployee/{id}(id=${id})}" th:object="${employee}" method="post">
    <input type="text" th:field="*{employeeNumber}" placeholder="Insert Employee Number">
    <p th:if="${#fields.hasErrors('employeeNumber')}" th:errors="*{employeeNumber}"></p>

    <input type="text" th:field="*{hireDate}" placeholder="Insert Hire Date">
    <p th:if="${#fields.hasErrors('hireDate')}" th:errors="*{hireDate}"></p>

    <label>Is an active Employee?</label>
    <input type="checkbox" name="activePerChk" checked="checked">

    <input type="hidden" th:field="*{id}">
    <button type="submit">Save Employee</button>
</form>
<hr>
<a th:href="@{/homeEmployee}">Back to Employee List</a>
</body>
<hr>
<p>© 2022 Mušketiri</p>
<hr>
</html>